header {
    border-bottom: silver solid 1px;
    background-color: white;
}

.header_block_just{
    text-align: justify;
    
}

.header_block_left{
    text-align: left;
}

.header_block_right{
    text-align: right;
}

body{
    background-color: #ececec;
}


/* navigation */
svg{
    background-color: white;
    border-radius: 5px;
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
}



/* center */

.window-content{
    background-color: white;
    border-radius: 20px;
}

.info_window{
    color: #c0c0c0;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-item {
    flex: 0 0 32.27%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.slider-block:hover{
    background-color: #ccc;
    transition: 0.4s ease-in-out;
}
.prev-btn, .next-btn {
    position: absolute;
    top: 520px;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    color: #c0c0c0;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}

.prev-btn {
    left: -5px;
}

.next-btn {
    right: -5px;
}
