/*
*{
    outline: 4px solid green !important;
}
*/

@font-face {
    font-family: 'Core Sans C';
    font-style: normal;
	font-weight: normal;
    src: local('Core Sans C'),
         url('font/CoreSansC-35Light.woff2') format('woff2'), 
         url('font/CoreSansC-35Light.woff') format('woff'),
         url('font/CoreSansC-35Light.ttf') format('ttf'),
         url('font/CoreSansC-35Light.eot') format('eot');
}

@font-face {
	font-family: 'Core Sans C';
	font-style: normal;
	font-weight: bold;
	src: local('Core Sans C'),
		url('font/CoreSansC-75ExtraBold.woff2') format('woff2'), 
		url('font/CoreSansC-75ExtraBold.woff') format('woff'),
		url('font/CoreSansC-75ExtraBold.ttf') format('ttf'),
		url('font/CoreSansC-75ExtraBold.eot') format('eot');
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Core Sans C';
    color: #0A2F41;
}
.wrapper{
    padding: 0 96px;
}


.body-wrapper > div{
    margin-top: 110px;
    margin-bottom: 110px;
}

.body-wrapper > div:last-child{
    margin-bottom: 120px;
}

.block-img{
    width: 100%;
    max-width: 50%;
    height: auto;
}

.block-text{
    width: 100%;
    max-width: 50%;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.block-text p{
    margin-top: 0px;
}

.button{
    text-align: center;
    background-color: #FF7300;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.button:hover{
    transition: 0.3s ease-in-out;
    font-size: 18px;
}

header{
    background-color: #0A2F41;
    color: #FFFFFF;
}

.header-up-info{
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #FFFFFF1A;
}

.header-info, .header-info-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.header-nav-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6px;
    justify-content: start;
    align-items: start;
}

.header-info-2{
    margin-top: 16px;
    margin-bottom: 12px;
}

.header-flex-box-2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header-flex-box{
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.header-flex-box u{
    text-decoration: none;
}

.header-flex-box-3{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
}

.header-flex-bottom{
    width: 222px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    font-weight: 600;
    background-color: #0E3A4F;
    cursor: pointer;
}

.header-nav{
    margin-top: 47px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #9B9B9B;
}

.header-flex-box-1{
height: 58px;
}

.mobile-info-block{
    display: none;
}

.header-naming{
    max-width: 965px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 54px;
}

.header-naming h1{
    font-family: 'Core Sans C';
    font-weight: bold;
    max-width: 807px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 35px;
    color: #FFFFFF;
}

.header-naming u{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
}

.seo-text{
    margin-top: 80px;
    margin-bottom: 110px;
}

.seo-text h2{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 800;
    line-height: 52px;
    text-align: left;
}

.seo-block{
    gap: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seo-mini-block{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.accept-repairs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 77px;
    padding-bottom: 80px;
    background-color: #F4F4F4;
}

.accept-repairs h2{
    font-size: 44px;
    font-weight: 800;
    margin: 0;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #0A2F41;
}

.accept-repairs-name{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 554px;
    height: 52px;
    top: 184px;
    left: 523px;
    padding-top: 52px;
    padding-bottom: 63px;
}

.accept-repairs-name u{
    font-size: 44px;
    font-weight: 800;
    line-height: 52px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #1A5C7C;
    cursor: pointer;
}

.accept-button{
    width: 222px;
    height: 52px;
    line-height: 52px;
}

.accept-repairs-name u:hover{
    transition: 0.3s ease-in-out;
    color: #FF7300;
}

.accept-repairs-button{
    align-items: center;
    justify-content: center;
    display: flex;
}

.official-dealer{
    width: 100%;
    display: flex;
    flex-direction: row ;
    height: 384px;
    background: linear-gradient(98.6deg, #E1E5E7 28.78%, #284B5F 95.49%);
    color: #FFFFFF;
}

.official-dealer h2{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 800;
    line-height: 52px;
    text-align: left;
    margin: 0%;
    margin-bottom: 13px;
}

.official-dealer u{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.official-dealer-padding{
    display: flex;
    flex-direction: row;
    margin: 80px 85px 80px 110px;
    width: 100%;
    gap: 136px;
}

.official-dealer-info{
    height: 224px;
    width: 510px;
}

.official-dealer-info-bottom{
    max-width: 503px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrier-logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.official-dealer-info-mini{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.official-dealer-button{
    width: 131px;
    height: 52px;
    line-height: 52px;
}

.services{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.services-info{
    display: flex;
    flex-direction: row;
    max-width: 477px;
    gap: 10px;
}

.services-info-text{
    width: 365px;
}

.services-info-text h3{
    margin: 0px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #0A2F41;
}

.addint-info{
    display:flex;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #FF7300;
    cursor: pointer;
    gap: 8.5px;
}

.svg-img{
    height: 100%;
    width: 102px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.addint-info u {
    text-decoration: none;
}

.branch h2{
    color: #0A2F41;
    font-size: 44px;
    font-weight: 800;
    line-height: 52px;
    text-align: center;
    margin: 0%;
    text-transform: uppercase;
}

.branch-info{
    display: flex;
    gap: 55px;
    justify-content: center;
    margin-top: 55px;
}

.branch-block{

    padding: 40px 0px 40px 32px;
}

.branch-block u{
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #1A5C7CB2;
    text-decoration: none;
}

.branch-info-text-mini{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.branch-info-text-mini p{
    margin: 0%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #0A2F41;
}

.branch-location{
    width: 386px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 18px;
    cursor: pointer;
}

.branch-info-text h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    line-height: 24px;
    text-align: left;
    color: #0E3A4F;
}

.branch-info-text u{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #0E3A4F;
    text-decoration: none;
}

.contract{
    display: flex;
    flex-direction: row;
    justify-content:end;
    height: 544px;
    background-color: #0A2F41;
    overflow: hidden;
}

.contract-img{
    object-fit:cover;
    flex-shrink: 1;
    order: 2;
}

.contract-info{
    order: 1;
    max-width: 845px;
    padding-top: 155px;
    display: flex;
    justify-content: center;
}

.contract-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 177px);
    height: calc(100% - 172px);
}

.contract-in-name{
    display: flex;
    flex-direction: column;

    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.contract-name h2{
    margin-top: 0px;
    font-size: 44px;
    font-weight: 800;
    line-height: 52px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.contract-name u{
    margin-top: 20px;
    margin-bottom: 52px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.contract-application{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
}

.contract-application-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 28px;
    width: 100%;
}

.contract-name-text{
    width: calc(50% - 14px);
}

.contract-name-text u{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

.contract-agreement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 61;
    max-width: 300px;
    margin: 0px;
    padding: 0px;
}

.contract-agreement u{
    margin-top: 0px;
    margin-left: 5px;
}

.text-lable u{
    font-size: 14px;
    line-height: 14px;
}

span{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #FFFFFF;
}

span:hover{
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #FFFFFF;
}

.contract-button{
    width: calc(50% - 14px);
    height: 52px;
    line-height: 52px;
}





.text-lable {
	display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.text-lable input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.text-lable u {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}
.text-lable u:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: #FFFFFF no-repeat;
    border: 1px solid #FF7300;
}
 
/* Checked */
.text-lable input[type=checkbox]:checked + u:before {
	background-image: url(img/checkbox-1.png);
    border: 1px solid #FF7300;
}
 
/* Focus */
.focused u:before {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    
}
 
/* Hover */
.text-lable u:hover:before {
	filter: brightness(110%);
}
 
/* Active */
.text-lable u:active:before {
	filter: brightness(80%);
}
 
/* Disabled */
.text-lable input[type=checkbox]:disabled + u {
	color: #666;
	cursor: default;
}
.text-lable input[type=checkbox]:disabled + u:before {
	filter: grayscale(100%);
	opacity: 0.6;
}





footer{
    background-color: #0A2F41;
    width: 100%;
}

.container {
    padding-top: 36px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box-1 {
    width: 25%;
}

.box-2 {
    padding-top: 20px;
    width: 25%;
}

.box-3 {
    padding-top: 20px;
    width: 25%;
}

.box-connection {
    padding-top: 20px;
    width: 25%;
    left: 0px;
}

.box-footer-end {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 53px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

.footer-button{
    width: 208px;
    height: 44px;
    line-height: 44px;
}

.footer-button p{
    margin: 0%;
}

.footer-button-text-2{
    display: none;
}

.footer-info{   
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.footer-info p{
    cursor: pointer;
}

.footer-info-button{
    position: relative;
    display: grid;
    grid-template-columns: 44px 44px;
    gap: 16px;
    margin-top: 77px;
}

.footer-info-button-1{
    background-color: #FF7300;
    width: 44px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}

.footer-info-button-1 svg{
    transition: 0.5s ease-in-out;
    padding: 10px;
}

.сopyright-mark{
    width: 25%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.privacy-policy{
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

.made-in{
    width: 25%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.footer-info-button-1 svg:hover{
    transition: 0.5s ease-in-out;
    transform: rotate(-15deg);
}

input[type="text"] {
    height: 24px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
    border: none;
    color: #999999;
}

.name-text{
    display: block;
    padding: 14px 0px 14px 16px;
    width: calc(100% - 14px);
    font-weight: 400;
    color: #212529;
    background-color: #FFFFFF;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.footer-logo-2{
    display: none;
}

.big-detal-mobile{
    display: none;
}

.branch-info-text-bottom{
    margin-top: 28px;
    width: 328px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.branch-svg{
    padding-top: 36px;
    display: none;
}

@media (max-width: 1200px) {
        
    .body-wrapper > div:last-child {
        margin-bottom: 40px;
    }
        
    .body-wrapper >div:first-child{
        margin-top: 40px;
    }
    
    .addint-info{
        justify-content: center;
    }

    .block-text{
        max-width: 100%;
    }

    .services-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .services-info-text{
        padding: 0%;
    }
        
    .services-info-text h3{
        margin-top: 0px;
        text-align: center; 
    }
    
    .contract{
        align-items: center;
    }
    
    .header-flex-box-2{
        display: none;
    }
    
    .header-flex-bottom{
        display: none;
    }
    
    .header-up-info{
        display: none;
    }

    .mobile-info-block{
        display: block;
    }
    
    .accept-repairs{
        margin-top: 40px;
    }
    
    .mobile-block{
        display: none;
    }

    .contract{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
        
    .contract-name{
        width: 100%;
    }
    
    .contract-name h2{
        margin-left: 0%;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        text-align: center;
    }
    
    .contract-name u{
        margin-left: 0%;
        margin-top: 0px;
        width: calc(100% - 35px);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        line-height: 18px;
    }
        
    .official-dealer{
        padding-bottom: 80px;
            height: auto;
        }

        .official-dealer-padding{
            flex-direction: column;

            margin-top: 40px;
            align-items: center;
            gap: 0px;
            width: 100%;
            gap: 40px;
        }
        
        span{
            border: none;
        }
    
        span:hover{
            border: none;
        }

        
        .header-info-2{
            margin-top: 0%;
            padding-top: 15px;
        }

        .text-lable u{
            text-align: left;
            font-size: 14px;
            text-decoration: none;
        }
        
        .contract-button{
            margin-bottom: 40px;
        }

        .contract-agreement u{
            text-align: left;
        }
        
        .contract-img{
            order: 1;
            width: 100%;
        }

        .contract-info{
            padding: 0 30px;
            order: 2;
        }
        
        .contract-application{
            flex-direction: column;
            gap: 20px;
        }

        .contract-application-block{
            margin-top: 20px;
        }
        
        .contract-agreement{
            justify-content: start;
            margin-top: 22px;
        }

        .official-dealer-info-bottom{
            max-width: 450px;
        }
    }
    
    @media (max-width: 1008px) {
        .branch-info{
            gap: 0px;
        }
        .branch-block{
            width: 360px;
        }
    }
    
    @media (max-width: 800px) {

        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 16px;
        }
    
        .header-info-2{
            padding-left: 16px;
            flex-direction: row;
            margin-top: 0px;
        }
    
        .container {
            padding-top: 20px;
        }
    
        .body-wrapper > div{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .body-wrapper > div:last-child {
            margin-bottom: 40px;
        }
    
        .body-wrapper >div:first-child{
            margin-top: 40px;
        }
    
        .mobile-info-block{
            display: block;
        }
    
        .mobile-info-block svg{
            cursor: pointer;
        }
    
        .header-up-info, .header-flex-box, .header-flex-bottom{
            display: none;
        }
    
        .header-naming h1{
            margin-bottom: 10px;
            height: auto;
            font-size: 30px;
            font-weight: 800;
            line-height: 40px;
        }
    
        span{
            border: none;
        }
    
        span:hover{
            border: none;
        }
        .header-naming u{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    
        .branch-info-text-bottom{
            width: 280px;
        }
    
        .seo-text h2{
            margin-top: 40px;
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
        }
    
        .block-text{
            max-width: 100%;
        }
    
        .block-img{
            max-width: 100%;
        }
    
        .official-dealer-info-mini{
            gap: 20px;
        }
    
        .seo-mini-block{
            flex-direction: column;
            gap: 16px;
        }
        
        .branch-location{
            width: 280px;
        }
    
        .mobile-block{
            display: none;
        }
        
        .seo-block{
            gap: 40px;
        }
    
        .seo-block>div:nth-child(odd){
            flex-flow: column-reverse;
        }
        
        .accept-repairs{
            background-color: #FFFFFF;
            padding: 0%;
        }
    
        .accept-repairs h2{
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            text-align: center;
        }
    
        .accept-repairs-name{
            width: 300px;
            height: 24px;
            padding-top: 26px;
            padding-bottom: 26px;
        }
    
        .accept-repairs-name u{
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            text-align: center;
        }
    
        .official-dealer{
            flex-direction: column;
            height: auto;
            padding-top:40px;
            padding-bottom: 80px;
        }
    
        .carrier-logo-img{
            width: 100%;
            height: auto;
        }
    
        .official-dealer-info{
            margin-top: 40px;
            margin-left: 45.5px;
            margin-right: 45.5px;
        }
    
        .header-flex-box-1{
            height: 34px;
        }

        .footer-button{
            width: 169px;
        }

        .official-dealer-info-bottom{
            max-width: 280px;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 40px;
        }
    
        .official-dealer h2{
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            text-align: left;
        }
    
        
        .services-info{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .services-info-text{
            max-width: 328px;
            padding: 0%;
        }
    
        .services-info-text h3{
            margin-top: 32px;
            text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        }
    
        .addint-info{
            justify-content: center;
        }
    
        .branch{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .branch h2{
            width: 100%;
            margin: 0%;
            margin-top: 40px;
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            text-align: center;
        }
    
        .branch-info{
            margin-top: 24px;
            gap: 24px;
            align-items: center;
        }
        
        .branch-block{
            padding: 0px;
            width: 280px;
        }
    
        .branch-svg{
            display: block;
        }
    
        .contract{
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    
        .contract-name{
            width: 100%;
        }
    
        .contract-name h2{
            margin-left: 0%;
            margin-top: 30px;
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            text-align: center;
        }
    
        .contract-name u{
            margin-left: 0%;
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        
        .contract-button{
            margin-bottom: 40px;
            width: 268px;
        }
    
        .contract-agreement u{
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.02em;
            text-align: left;
        }
    
        .contract-img{
            order: 1;
            width: 100%;
        }
        
        .contract-info{
            padding: 0 30px;
            order: 2;
            width: 100%;
        }
        
        .official-dealer-padding{
            flex-direction: column;
            margin: 0px;
            gap: 0px;
            width: 100%;
            gap: 40px;
        }
    
        .official-dealer-info{
            width: auto;
            margin-left: 45.5px;
            margin-right: 45.5px;
            margin-top: 0px;
        }
        
        .carrier-logo-img img{
            width: 262px;
        }
        .contract-application{
            flex-direction: column;
            gap: 20px;
        }
        
        .contract-application-block{
            flex-direction: column;
            margin-top: 20px;
            width: 268px;
        }
    
        .contract-name-text{
            width: 100%;
        }
        
        .text-lable u{
            text-align: left;
        }
    
        .contract-agreement{
            justify-content: start;
            margin-top: 22px;
        }
        
        input[type="text"] {
            width: 252px;
            margin-bottom: 0%;
        }
        
        .box-1 {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .box-2 {
            width: 100%;
        }
            
        .box-3 {
            width: 100%;
            padding: 0%;
        }
        .box-3 p:first-child{
            margin-top: 0%;
        }
    
        .box-connection {
            width: 100%;
            padding: 0%;
        }
    
        .box-footer-end{
            flex-direction: column;
            margin-top: 0%;
            margin-bottom: 32px;
        }
        
        .privacy-policy{
            margin-left: 0px;
        }
    
        .footer-info-button{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 28px;
            margin-bottom: 28px;
        }
    
        .big-detal-mobile{
            width: 100%;
            background-color: #E6E4E5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .сopyright-mark, .privacy-policy, .made-in{
            width: 100%;
        }
        
        .сopyright-mark{
            margin-bottom: 8px;
        }
        .сopyright-mark p{
            margin-bottom: 0px;
            margin-top: 0%;
            color: #FFFFFF99;
        }
    
        .privacy-policy{
            margin-top: 0px;
        }
        
        .privacy-policy p{
            margin-top: 0px;
        }
        
        .footer-logo-2, .footer-button-text-2{
            display: block;
        }
        
        .footer-logo-1, .footer-button-text-1{
            display: none;
        }
        
        @media (max-width: 680px) {
            .services{
                flex-direction: column;
            }
    
            .branch-info{
                flex-direction: column;
            }
    
            .branch h2{
                text-align: left;
            }
        }
    } 
    
    .big-detal-info{
        padding: 22px;
        padding-bottom: 48px;
    }
    
    .big-detal-info h2{
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        text-align: left;
        color: #0A2F41;
    }
    
    .big-detal-info u{
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #0A2F41;
    }

    .button-detale{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 190px;
        height: 44px;
        margin-top: 20px;
    }